
html, body{
    width: 50%;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(23, 23, 24);
}
h1{
    text-align: center;
}
#todoWrap{
    margin-top: 20%;
    background-color: rgb(116, 17, 230);
    width: 100%;
    height: 600px;
    overflow: scroll;
    box-shadow: grey 1px 1px 1px 1px;
}
.container{
    margin-left: 15%;
    width: 360px;
}
#inputField{
    width: 300px;
    height: 46px;
    border: 1px solid black;
    vertical-align: middle;
    font-size: 30px;

}
.to-dos{
    margin-top: 25px;
}

.paragraph-styling {
    margin: 0;
    cursor: pointer;
    font-size: 20px;
}
button{
    width: 50px;
    height: 50px;
}